* {
    padding: 0px 3px 3px 3px
}

header h1{
    text-align: center;
    color: white;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 59%, rgba(2,0,36,1) 100%);
    margin-left: -5%;
    margin-right: -5%;
}

#search {
    height: 800px;
}

h2, h4{
    font-weight: bold;
}

input {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

#search-btn {
    display: flex;
    margin-top: 15px;
    background: #359cf0;
    border-style: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 35px;
}

#divider {
    border-top: 3px solid black;
    margin-top: 20px;
}

.location-container {
    border: solid;
    border-radius: 3px;
}

.card {
    background-color: #2d4f64;
    color: white;
}

#history {
    margin-top: 10px;
    border-style:none ;
    background: rgb(199, 198, 198);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 30px;
}